#NavMobile{
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#NavMobile  {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar { 
    width: 0 !important 
}

@media (max-width: 576px) { 

    #NavMobile a {
        font-size: 14px;
        color: #949494;
        padding: 6px 20px;
        border: 1px solid #949494;
        border-radius: 20px;
    }
    
    #NavMobile a:hover{
        color: var(--warna-utama);
        border: 1px solid var(--warna-utama);
    
    }
    
    #NavMobile{
        display: flex;
        width: 100%;
        overflow-x: scroll;
    }

}

