#NavMobile{
    display: none;
}

@media (max-width: 576px) { 

    #NavMobile a {
        font-size: 14px;
        color: #949494;
        padding: 6px 20px;
        border: 1px solid #949494;
        border-radius: 20px;
    }
    
    #NavMobile a:hover{
        color: var(--warna-utama);
        border: 1px solid var(--warna-utama);
    
    }
    
    #NavMobile{
        display: flex;
        width: 100%;
        overflow-x: scroll;
    }

}

