@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #232323;
}

:root{

    --warna-utama: #43C5F3;
    --animate-delay: 2s;
    
}

.warna-utama{
    color: #43C5F3;
}

.warna-bg-utama {
    background: #43C5F3;
    border: 0;
}